In [1]:
import pandas as pd
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [2]:
frequencia = dados['Profissão'].value_counts()
percentual = dados['Profissão'].value_counts(normalize = True) * 100
dist_freq_qualitativas = pd.DataFrame({'Frrequência': frequencia, 'Porcentagem': percentual})
dist_freq_qualitativas.rename( index = {1: 'Estatístico', 2:'Cientista de Dados', 3: 'Programador Python'}, inplace = True )
dist_freq_qualitativas.rename_axis('Profissão', axis='columns', inplace = True)
dist_freq_qualitativas

Profissão           Frrequência  Porcentagem
Cientista de Dados            5    41.666667
Programador Python            4    33.333333
Estatístico                   3    25.000000

In [3]:
dados = pd.read_csv('dados.csv')

In [4]:
print(dados.Altura.min(), dados.Altura.max())

1.339244614 2.028496765

In [5]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020

In [6]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [8]:
dataset.groupby(['Sexo']).mean()

          Idade
Sexo
H     45.750000
M     46.333333

In [9]:
dataset.mean()

Idade    46.1
dtype: float64