In [1]:
import pandas as pd

In [2]:

# Caminho para o seu arquivo CSV (ajuste conforme necessário)
caminho_arquivo = "../dados/acoes-listadas-b3.csv"
# Lendo o arquivo CSV e criando um DataFrame
df_lista = pd.read_csv(caminho_arquivo)

df_lista.head()

  Ticker        Nome     Negócios Última (R$) Variação
0  AMER3  Americanas  859.938.400        0,06  -14,29%
1  B3SA3          B3   58.241.800       12,74   +1,59%
2  COGN3       Cogna   50.190.700        1,43   +7,52%
3  HAPV3     Hapvida   40.802.500        4,49   +2,75%
4  CVCB3         CVC   33.596.100        2,25   +4,65%

In [3]:
df_lista['Ticker'] = df_lista['Ticker'] + '.SA'
df_lista.head()

     Ticker        Nome     Negócios Última (R$) Variação
0  AMER3.SA  Americanas  859.938.400        0,06  -14,29%
1  B3SA3.SA          B3   58.241.800       12,74   +1,59%
2  COGN3.SA       Cogna   50.190.700        1,43   +7,52%
3  HAPV3.SA     Hapvida   40.802.500        4,49   +2,75%
4  CVCB3.SA         CVC   33.596.100        2,25   +4,65%

In [4]:
df_lista.to_csv(caminho_arquivo, sep=';')